.container
  .splash-container
    .splash-row
      %img{src: "/images/logo.jpg", style:"margin-bottom:20px"}
      %form{action: "/search", method: :get, id: "search-form"}
        .input-group
          %input#search-input.col-lg-12.form-control{type:"text", name: 'q', placeholder: "E.g. What is the speed of light?"}
          #search-button.input-group-addon{:style => "cursor:pointer"}
            %span.fa.fa-search

      .mic-box.text-center
        %img#mic-active{src: "/images/mic_active.png", style: "display:none"}
        %img#mic-inactive{src: "/images/mic_inactive.png"}
