%script#answer-template{type: "text/html"}
  .panel.panel-default
    .panel-body
      .row
        .col-xs-4
          %img{data: {src: 'image'}}
        .col-xs-8
          %h3{data: {content: 'label'}}
          %p{data: {content: 'abstract'}}

.search-bar
  .container
    .row
      .col-xs-2
        %img{src: "/images/logo.jpg", height: "90"}
      .col-xs-8
        %form{action: "/search", method: :get, id: "search-form"}
          .input-group
            %input#search-input.col-lg-12.form-control{type:"text", name: "q", value: @query, placeholder: "E.g. What is the speed of light?"}
            #search-button.input-group-addon{:style => "cursor:pointer"}
              %span.fa.fa-search
      .cols-xs-2
        .mic-box.text-center
          %img#mic-active{src: "/images/mic_active.png", style: "display:none"}
          %img#mic-inactive{src: "/images/mic_inactive.png"}

.container{style: "margin-top: 120px;"}
  #spinner.text-center
    %h3
      %i.fa.fa-circle-o-notch.fa-spin
      Thinking...
  #not-found{style: "display: none;"}
    %h3 Sorry, we could answer your question!
  #answers


:javascript
    checkForUpdates("#{@uuid}");
    $(document).ready(function(){
      drawInactive();
    })
