.splash-container {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  position: relative;

  .splash-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.search-bar {
  height: 100px;
  box-shadow: 0px 2px 2px #aaaaaa;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  z-index: 1000;

  form {
    padding-top: 30px;
  }
}
